Source: libmarian-lite
Section: libs
Priority: extra
Maintainer: Sander <code@kroket.io>
Build-Depends: debhelper (>= 10),
    cmake,
    ccache,
    pkg-config,
    libopenblas-dev,
    libyaml-cpp-dev,
    libpathie-cpp,
    libprotobuf-dev,
    protobuf-compiler,
    libsqlite3-dev,
    protobuf-compiler,
    libpcre2-dev,
    libsentencepiece-browsermt,
    zlib1g-dev,
Homepage: https://github.com/maemo-leste/marian-lite
XSBC-Bugtracker: https://github.com/maemo-leste/marian-lite/issues
Vcs-Git: https://github.com/maemo-leste/marian-lite/
Vcs-Browser: https://github.com/maemo-leste/marian-lite/


Package: libmarian-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libopenblas-dev,
    libyaml-cpp-dev,
    libpathie-cpp,
    libprotobuf-dev,
    libsqlite3-dev,
    libsentencepiece-browsermt,
    libpcre2-32-0,
    zlib1g,
Description: Small C++ library for cross-platform Unicode path management
